smart-sofar/flows.json
[{"id":"tab_sofar_inv1","type":"tab","label":"Sofar inv 1","disabled":false,"info":""},{"id":"tab_sofar_inv2","type":"tab","label":"Sofar inv 2","disabled":false,"info":""},{"id":"tab_sofar_inv3","type":"tab","label":"Sofar inv 3","disabled":false,"info":""},{"id":"tab_sofar_discovery","type":"tab","label":"Sofar Discovery","disabled":false,"info":""},{"id":"mqtt_broker_sofar","type":"mqtt-broker","name":"HA MQTT Broker","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"sofar/1/availability","willQos":"0","willRetain":"true","willPayload":"offline","willMsg":{}},{"id":"modbus_client_inv1","type":"modbus-client","name":"Sofar Serial inv 1","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/serial/by-id/CHANGE-ME-1","serialType":"RTU-BUFFERED","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"50","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":false},{"id":"modbus_client_inv2","type":"modbus-client","name":"Sofar Serial inv 2","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/serial/by-id/CHANGE-ME-2","serialType":"RTU-BUFFERED","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"50","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":false},{"id":"modbus_client_inv3","type":"modbus-client","name":"Sofar Serial inv 3","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/serial/by-id/CHANGE-ME-3","serialType":"RTU-BUFFERED","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"50","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":false},{"id":"inject_online_inv1","type":"inject","z":"tab_sofar_inv1","name":"ONLINE inv1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["fn_online_inv1"]]},{"id":"inject_fast_inv1","type":"inject","z":"tab_sofar_inv1","name":"FAST inv1 2s","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["fn_build_fast_inv1"]]},{"id":"inject_slow_inv1","type":"inject","z":"tab_sofar_inv1","name":"SLOW inv1 30s","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["fn_build_slow_inv1"]]},{"id":"fn_online_inv1","type":"function","z":"tab_sofar_inv1","name":"ONLINE inv 1","func":"msg.topic = 'sofar/1/availability';\nmsg.payload = 'online';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":40,"wires":[["mqtt_out_availability_inv1"]]},{"id":"fn_build_fast_inv1","type":"function","z":"tab_sofar_inv1","name":"BUILD FAST inv1","func":"msg.payload = [\n  { adr: 0x0404, q: 1, block: 'state' },\n  { adr: 0x0584, q: 6, block: 'pv' },\n  { adr: 0x0484, q: 11, block: 'grid' },\n  { adr: 0x04AF, q: 1, block: 'load' },\n  { adr: 0x0604, q: 7, block: 'battery' }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["split_inv1"]]},{"id":"fn_build_slow_inv1","type":"function","z":"tab_sofar_inv1","name":"BUILD SLOW inv1","func":"msg.payload = [\n  { adr: 0x0405, q: 5, block: 'faults' },\n  { adr: 0x0684, q: 16, block: 'energy' },\n  { adr: 0x0694, q: 2, block: 'charge' },\n  { adr: 0x0698, q: 2, block: 'discharge' }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":160,"wires":[["split_inv1"]]},{"id":"split_inv1","type":"split","z":"tab_sofar_inv1","name":"split inv1","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":520,"y":130,"wires":[["fn_modbus_req_inv1"]]},{"id":"fn_modbus_req_inv1","type":"function","z":"tab_sofar_inv1","name":"MODBUS REQ inv1","func":"msg.block = msg.payload.block;\nmsg.payload = {\n  value: msg.payload.adr,\n  fc: 3,\n  unitid: 1,\n  address: msg.payload.adr,\n  quantity: msg.payload.q\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":130,"wires":[["modbus_get_inv1"]]},{"id":"modbus_get_inv1","type":"modbus-flex-getter","z":"tab_sofar_inv1","name":"MODBUS inv1","showStatusActivities":false,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"modbus_client_inv1","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":910,"y":130,"wires":[["fn_parse_inv1"],[]]},{"id":"fn_parse_inv1","type":"function","z":"tab_sofar_inv1","name":"PARSE inv1","func":"const r = Array.isArray(msg.payload?.data) ? msg.payload.data : [];\nlet out = {};\nfunction s16(v) { v = Number(v || 0) & 0xFFFF; return v > 0x7FFF ? v - 0x10000 : v; }\nfunction u32(h, l) { return (((Number(h || 0) & 0xFFFF) << 16) >>> 0) + (Number(l || 0) & 0xFFFF); }\nswitch (msg.block) {\n  case 'state':\n    out.diag = { inverter_state_code: r[0], inverter_state: ['Waiting', 'Checking', 'On-Grid', 'Emergency Mode', 'Recoverable Fault', 'Permanent Fault', 'Upgrading', 'Self-charging'][r[0]] || 'Unknown' };\n    break;\n  case 'pv':\n    out.pv1_input_voltage = Number((r[0] * 0.1).toFixed(1));\n    out.pv1_input_current = Number((r[1] * 0.01).toFixed(2));\n    out.pv1_input_power = Math.round(r[2] * 10);\n    out.pv2_input_voltage = Number((r[3] * 0.1).toFixed(1));\n    out.pv2_input_current = Number((r[4] * 0.01).toFixed(2));\n    out.pv2_input_power = Math.round(r[5] * 10);\n    out.pv_total_power = out.pv1_input_power + out.pv2_input_power;\n    break;\n  case 'grid':\n    out.grid_frequency = Number((r[0] * 0.01).toFixed(2));\n    out.production_instantanee = Math.round(s16(r[1]) * 10);\n    out.grid_power = Math.round(s16(r[4]) * -10);\n    out.ac_output_voltage = Number((r[9] * 0.1).toFixed(1));\n    out.ac_output_current = Number((r[10] * 0.01).toFixed(2));\n    break;\n  case 'load':\n    out.load_power = Math.round(r[0] * 10);\n    break;\n  case 'battery':\n    out.battery_voltage = Number((r[0] * 0.1).toFixed(1));\n    out.battery_current = Number((s16(r[1]) * 0.01).toFixed(2));\n    out.battery_power = Math.round(s16(r[2]) * 10);\n    out.battery_temperature = s16(r[3]);\n    out.battery_soc = Number(r[4] || 0);\n    out.battery_soh = Number(r[5] || 0);\n    out.battery_cycles = Number(r[6] || 0);\n    break;\n  case 'energy':\n    out.pv_energy_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    out.pv_energy_total_kwh = Number((u32(r[2], r[3]) * 0.1).toFixed(1));\n    out.load_energy_day_kwh = Number((u32(r[4], r[5]) * 0.01).toFixed(2));\n    out.load_energy_total_kwh = Number((u32(r[6], r[7]) * 0.1).toFixed(1));\n    out.grid_import_day_kwh = Number((u32(r[8], r[9]) * 0.01).toFixed(2));\n    out.grid_import_total_kwh = Number((u32(r[10], r[11]) * 0.1).toFixed(1));\n    out.grid_export_day_kwh = Number((u32(r[12], r[13]) * 0.01).toFixed(2));\n    out.grid_export_total_kwh = Number((u32(r[14], r[15]) * 0.1).toFixed(1));\n    break;\n  case 'charge':\n    out.battery_charge_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    break;\n  case 'discharge':\n    out.battery_discharge_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    break;\n  case 'faults':\n    out.diag = { fault_state: r.some(v => Number(v || 0) !== 0) ? 'FAULT' : 'OK', fault_count: r.filter(v => Number(v || 0) !== 0).length };\n    break;\n}\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":130,"wires":[["fn_merge_inv1"]]},{"id":"fn_merge_inv1","type":"function","z":"tab_sofar_inv1","name":"MERGE inv 1","func":"function deepMerge(target, source) {\n  for (const key of Object.keys(source)) {\n    if (source[key] && typeof source[key] === 'object' && !Array.isArray(source[key])) {\n      if (!target[key] || typeof target[key] !== 'object' || Array.isArray(target[key])) target[key] = {};\n      deepMerge(target[key], source[key]);\n    } else {\n      target[key] = source[key];\n    }\n  }\n  return target;\n}\nlet state = flow.get('state_inv1') || {};\ndeepMerge(state, msg.payload || {});\nstate.last_update = new Date().toISOString();\nstate.available = true;\nstate.connection = 'serial_modbus';\nstate.protocol = 'modbus_rtu';\nstate.model_hint = 'Sofar HYD6000EP';\nstate.slave_id = 1;\nflow.set('state_inv1', state);\nmsg.topic = 'sofar/1/state';\nmsg.payload = JSON.stringify(state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":130,"wires":[["mqtt_out_state_inv1","debug_inv1"]]},{"id":"mqtt_out_state_inv1","type":"mqtt out","z":"tab_sofar_inv1","name":"MQTT state inv1","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_sofar","x":1460,"y":110,"wires":[]},{"id":"mqtt_out_availability_inv1","type":"mqtt out","z":"tab_sofar_inv1","name":"MQTT availability inv1","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_sofar","x":530,"y":40,"wires":[]},{"id":"debug_inv1","type":"debug","z":"tab_sofar_inv1","name":"DEBUG inv1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":160,"wires":[]},{"id":"inject_online_inv2","type":"inject","z":"tab_sofar_inv2","name":"ONLINE inv2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["fn_online_inv2"]]},{"id":"inject_fast_inv2","type":"inject","z":"tab_sofar_inv2","name":"FAST inv2 2s","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["fn_build_fast_inv2"]]},{"id":"inject_slow_inv2","type":"inject","z":"tab_sofar_inv2","name":"SLOW inv2 30s","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["fn_build_slow_inv2"]]},{"id":"fn_online_inv2","type":"function","z":"tab_sofar_inv2","name":"ONLINE inv 2","func":"msg.topic = 'sofar/2/availability';\nmsg.payload = 'online';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":40,"wires":[["mqtt_out_availability_inv2"]]},{"id":"fn_build_fast_inv2","type":"function","z":"tab_sofar_inv2","name":"BUILD FAST inv2","func":"msg.payload = [\n  { adr: 0x0404, q: 1, block: 'state' },\n  { adr: 0x0584, q: 6, block: 'pv' },\n  { adr: 0x0484, q: 11, block: 'grid' },\n  { adr: 0x04AF, q: 1, block: 'load' },\n  { adr: 0x0604, q: 7, block: 'battery' }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["split_inv2"]]},{"id":"fn_build_slow_inv2","type":"function","z":"tab_sofar_inv2","name":"BUILD SLOW inv2","func":"msg.payload = [\n  { adr: 0x0405, q: 5, block: 'faults' },\n  { adr: 0x0684, q: 16, block: 'energy' },\n  { adr: 0x0694, q: 2, block: 'charge' },\n  { adr: 0x0698, q: 2, block: 'discharge' }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":160,"wires":[["split_inv2"]]},{"id":"split_inv2","type":"split","z":"tab_sofar_inv2","name":"split inv2","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":520,"y":130,"wires":[["fn_modbus_req_inv2"]]},{"id":"fn_modbus_req_inv2","type":"function","z":"tab_sofar_inv2","name":"MODBUS REQ inv2","func":"msg.block = msg.payload.block;\nmsg.payload = {\n  value: msg.payload.adr,\n  fc: 3,\n  unitid: 1,\n  address: msg.payload.adr,\n  quantity: msg.payload.q\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":130,"wires":[["modbus_get_inv2"]]},{"id":"modbus_get_inv2","type":"modbus-flex-getter","z":"tab_sofar_inv2","name":"MODBUS inv2","showStatusActivities":false,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"modbus_client_inv2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":910,"y":130,"wires":[["fn_parse_inv2"],[]]},{"id":"fn_parse_inv2","type":"function","z":"tab_sofar_inv2","name":"PARSE inv2","func":"const r = Array.isArray(msg.payload?.data) ? msg.payload.data : [];\nlet out = {};\nfunction s16(v) { v = Number(v || 0) & 0xFFFF; return v > 0x7FFF ? v - 0x10000 : v; }\nfunction u32(h, l) { return (((Number(h || 0) & 0xFFFF) << 16) >>> 0) + (Number(l || 0) & 0xFFFF); }\nswitch (msg.block) {\n  case 'state':\n    out.diag = { inverter_state_code: r[0], inverter_state: ['Waiting', 'Checking', 'On-Grid', 'Emergency Mode', 'Recoverable Fault', 'Permanent Fault', 'Upgrading', 'Self-charging'][r[0]] || 'Unknown' };\n    break;\n  case 'pv':\n    out.pv1_input_voltage = Number((r[0] * 0.1).toFixed(1));\n    out.pv1_input_current = Number((r[1] * 0.01).toFixed(2));\n    out.pv1_input_power = Math.round(r[2] * 10);\n    out.pv2_input_voltage = Number((r[3] * 0.1).toFixed(1));\n    out.pv2_input_current = Number((r[4] * 0.01).toFixed(2));\n    out.pv2_input_power = Math.round(r[5] * 10);\n    out.pv_total_power = out.pv1_input_power + out.pv2_input_power;\n    break;\n  case 'grid':\n    out.grid_frequency = Number((r[0] * 0.01).toFixed(2));\n    out.production_instantanee = Math.round(s16(r[1]) * 10);\n    out.grid_power = Math.round(s16(r[4]) * -10);\n    out.ac_output_voltage = Number((r[9] * 0.1).toFixed(1));\n    out.ac_output_current = Number((r[10] * 0.01).toFixed(2));\n    break;\n  case 'load':\n    out.load_power = Math.round(r[0] * 10);\n    break;\n  case 'battery':\n    out.battery_voltage = Number((r[0] * 0.1).toFixed(1));\n    out.battery_current = Number((s16(r[1]) * 0.01).toFixed(2));\n    out.battery_power = Math.round(s16(r[2]) * 10);\n    out.battery_temperature = s16(r[3]);\n    out.battery_soc = Number(r[4] || 0);\n    out.battery_soh = Number(r[5] || 0);\n    out.battery_cycles = Number(r[6] || 0);\n    break;\n  case 'energy':\n    out.pv_energy_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    out.pv_energy_total_kwh = Number((u32(r[2], r[3]) * 0.1).toFixed(1));\n    out.load_energy_day_kwh = Number((u32(r[4], r[5]) * 0.01).toFixed(2));\n    out.load_energy_total_kwh = Number((u32(r[6], r[7]) * 0.1).toFixed(1));\n    out.grid_import_day_kwh = Number((u32(r[8], r[9]) * 0.01).toFixed(2));\n    out.grid_import_total_kwh = Number((u32(r[10], r[11]) * 0.1).toFixed(1));\n    out.grid_export_day_kwh = Number((u32(r[12], r[13]) * 0.01).toFixed(2));\n    out.grid_export_total_kwh = Number((u32(r[14], r[15]) * 0.1).toFixed(1));\n    break;\n  case 'charge':\n    out.battery_charge_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    break;\n  case 'discharge':\n    out.battery_discharge_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    break;\n  case 'faults':\n    out.diag = { fault_state: r.some(v => Number(v || 0) !== 0) ? 'FAULT' : 'OK', fault_count: r.filter(v => Number(v || 0) !== 0).length };\n    break;\n}\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":130,"wires":[["fn_merge_inv2"]]},{"id":"fn_merge_inv2","type":"function","z":"tab_sofar_inv2","name":"MERGE inv 2","func":"function deepMerge(target, source) {\n  for (const key of Object.keys(source)) {\n    if (source[key] && typeof source[key] === 'object' && !Array.isArray(source[key])) {\n      if (!target[key] || typeof target[key] !== 'object' || Array.isArray(target[key])) target[key] = {};\n      deepMerge(target[key], source[key]);\n    } else {\n      target[key] = source[key];\n    }\n  }\n  return target;\n}\nlet state = flow.get('state_inv2') || {};\ndeepMerge(state, msg.payload || {});\nstate.last_update = new Date().toISOString();\nstate.available = true;\nstate.connection = 'serial_modbus';\nstate.protocol = 'modbus_rtu';\nstate.model_hint = 'Sofar HYD6000EP';\nstate.slave_id = 1;\nflow.set('state_inv2', state);\nmsg.topic = 'sofar/2/state';\nmsg.payload = JSON.stringify(state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":130,"wires":[["mqtt_out_state_inv2","debug_inv2"]]},{"id":"mqtt_out_state_inv2","type":"mqtt out","z":"tab_sofar_inv2","name":"MQTT state inv2","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_sofar","x":1460,"y":110,"wires":[]},{"id":"mqtt_out_availability_inv2","type":"mqtt out","z":"tab_sofar_inv2","name":"MQTT availability inv2","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_sofar","x":530,"y":40,"wires":[]},{"id":"debug_inv2","type":"debug","z":"tab_sofar_inv2","name":"DEBUG inv2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":160,"wires":[]},{"id":"inject_online_inv3","type":"inject","z":"tab_sofar_inv3","name":"ONLINE inv3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["fn_online_inv3"]]},{"id":"inject_fast_inv3","type":"inject","z":"tab_sofar_inv3","name":"FAST inv3 2s","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["fn_build_fast_inv3"]]},{"id":"inject_slow_inv3","type":"inject","z":"tab_sofar_inv3","name":"SLOW inv3 30s","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["fn_build_slow_inv3"]]},{"id":"fn_online_inv3","type":"function","z":"tab_sofar_inv3","name":"ONLINE inv 3","func":"msg.topic = 'sofar/3/availability';\nmsg.payload = 'online';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":40,"wires":[["mqtt_out_availability_inv3"]]},{"id":"fn_build_fast_inv3","type":"function","z":"tab_sofar_inv3","name":"BUILD FAST inv3","func":"msg.payload = [\n  { adr: 0x0404, q: 1, block: 'state' },\n  { adr: 0x0584, q: 6, block: 'pv' },\n  { adr: 0x0484, q: 11, block: 'grid' },\n  { adr: 0x04AF, q: 1, block: 'load' },\n  { adr: 0x0604, q: 7, block: 'battery' }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["split_inv3"]]},{"id":"fn_build_slow_inv3","type":"function","z":"tab_sofar_inv3","name":"BUILD SLOW inv3","func":"msg.payload = [\n  { adr: 0x0405, q: 5, block: 'faults' },\n  { adr: 0x0684, q: 16, block: 'energy' },\n  { adr: 0x0694, q: 2, block: 'charge' },\n  { adr: 0x0698, q: 2, block: 'discharge' }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":160,"wires":[["split_inv3"]]},{"id":"split_inv3","type":"split","z":"tab_sofar_inv3","name":"split inv3","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":520,"y":130,"wires":[["fn_modbus_req_inv3"]]},{"id":"fn_modbus_req_inv3","type":"function","z":"tab_sofar_inv3","name":"MODBUS REQ inv3","func":"msg.block = msg.payload.block;\nmsg.payload = {\n  value: msg.payload.adr,\n  fc: 3,\n  unitid: 1,\n  address: msg.payload.adr,\n  quantity: msg.payload.q\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":130,"wires":[["modbus_get_inv3"]]},{"id":"modbus_get_inv3","type":"modbus-flex-getter","z":"tab_sofar_inv3","name":"MODBUS inv3","showStatusActivities":false,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"modbus_client_inv3","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"delayOnStart":false,"startDelayTime":"","x":910,"y":130,"wires":[["fn_parse_inv3"],[]]},{"id":"fn_parse_inv3","type":"function","z":"tab_sofar_inv3","name":"PARSE inv3","func":"const r = Array.isArray(msg.payload?.data) ? msg.payload.data : [];\nlet out = {};\nfunction s16(v) { v = Number(v || 0) & 0xFFFF; return v > 0x7FFF ? v - 0x10000 : v; }\nfunction u32(h, l) { return (((Number(h || 0) & 0xFFFF) << 16) >>> 0) + (Number(l || 0) & 0xFFFF); }\nswitch (msg.block) {\n  case 'state':\n    out.diag = { inverter_state_code: r[0], inverter_state: ['Waiting', 'Checking', 'On-Grid', 'Emergency Mode', 'Recoverable Fault', 'Permanent Fault', 'Upgrading', 'Self-charging'][r[0]] || 'Unknown' };\n    break;\n  case 'pv':\n    out.pv1_input_voltage = Number((r[0] * 0.1).toFixed(1));\n    out.pv1_input_current = Number((r[1] * 0.01).toFixed(2));\n    out.pv1_input_power = Math.round(r[2] * 10);\n    out.pv2_input_voltage = Number((r[3] * 0.1).toFixed(1));\n    out.pv2_input_current = Number((r[4] * 0.01).toFixed(2));\n    out.pv2_input_power = Math.round(r[5] * 10);\n    out.pv_total_power = out.pv1_input_power + out.pv2_input_power;\n    break;\n  case 'grid':\n    out.grid_frequency = Number((r[0] * 0.01).toFixed(2));\n    out.production_instantanee = Math.round(s16(r[1]) * 10);\n    out.grid_power = Math.round(s16(r[4]) * -10);\n    out.ac_output_voltage = Number((r[9] * 0.1).toFixed(1));\n    out.ac_output_current = Number((r[10] * 0.01).toFixed(2));\n    break;\n  case 'load':\n    out.load_power = Math.round(r[0] * 10);\n    break;\n  case 'battery':\n    out.battery_voltage = Number((r[0] * 0.1).toFixed(1));\n    out.battery_current = Number((s16(r[1]) * 0.01).toFixed(2));\n    out.battery_power = Math.round(s16(r[2]) * 10);\n    out.battery_temperature = s16(r[3]);\n    out.battery_soc = Number(r[4] || 0);\n    out.battery_soh = Number(r[5] || 0);\n    out.battery_cycles = Number(r[6] || 0);\n    break;\n  case 'energy':\n    out.pv_energy_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    out.pv_energy_total_kwh = Number((u32(r[2], r[3]) * 0.1).toFixed(1));\n    out.load_energy_day_kwh = Number((u32(r[4], r[5]) * 0.01).toFixed(2));\n    out.load_energy_total_kwh = Number((u32(r[6], r[7]) * 0.1).toFixed(1));\n    out.grid_import_day_kwh = Number((u32(r[8], r[9]) * 0.01).toFixed(2));\n    out.grid_import_total_kwh = Number((u32(r[10], r[11]) * 0.1).toFixed(1));\n    out.grid_export_day_kwh = Number((u32(r[12], r[13]) * 0.01).toFixed(2));\n    out.grid_export_total_kwh = Number((u32(r[14], r[15]) * 0.1).toFixed(1));\n    break;\n  case 'charge':\n    out.battery_charge_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    break;\n  case 'discharge':\n    out.battery_discharge_day_kwh = Number((u32(r[0], r[1]) * 0.01).toFixed(2));\n    break;\n  case 'faults':\n    out.diag = { fault_state: r.some(v => Number(v || 0) !== 0) ? 'FAULT' : 'OK', fault_count: r.filter(v => Number(v || 0) !== 0).length };\n    break;\n}\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":130,"wires":[["fn_merge_inv3"]]},{"id":"fn_merge_inv3","type":"function","z":"tab_sofar_inv3","name":"MERGE inv 3","func":"function deepMerge(target, source) {\n  for (const key of Object.keys(source)) {\n    if (source[key] && typeof source[key] === 'object' && !Array.isArray(source[key])) {\n      if (!target[key] || typeof target[key] !== 'object' || Array.isArray(target[key])) target[key] = {};\n      deepMerge(target[key], source[key]);\n    } else {\n      target[key] = source[key];\n    }\n  }\n  return target;\n}\nlet state = flow.get('state_inv3') || {};\ndeepMerge(state, msg.payload || {});\nstate.last_update = new Date().toISOString();\nstate.available = true;\nstate.connection = 'serial_modbus';\nstate.protocol = 'modbus_rtu';\nstate.model_hint = 'Sofar HYD6000EP';\nstate.slave_id = 1;\nflow.set('state_inv3', state);\nmsg.topic = 'sofar/3/state';\nmsg.payload = JSON.stringify(state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":130,"wires":[["mqtt_out_state_inv3","debug_inv3"]]},{"id":"mqtt_out_state_inv3","type":"mqtt out","z":"tab_sofar_inv3","name":"MQTT state inv3","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_sofar","x":1460,"y":110,"wires":[]},{"id":"mqtt_out_availability_inv3","type":"mqtt out","z":"tab_sofar_inv3","name":"MQTT availability inv3","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_sofar","x":530,"y":40,"wires":[]},{"id":"debug_inv3","type":"debug","z":"tab_sofar_inv3","name":"DEBUG inv3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":160,"wires":[]},{"id":"inject_discovery","type":"inject","z":"tab_sofar_discovery","name":"DISCOVERY startup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["fn_build_discovery"]]},{"id":"fn_build_discovery","type":"function","z":"tab_sofar_discovery","name":"BUILD DISCOVERY","func":"const prefix='homeassistant';\nconst basePrefix='sofar';\nconst entities=[\n['diag_inverter_state','sensor','{{ value_json.diag.inverter_state }}',''],\n['diag_fault_state','sensor','{{ value_json.diag.fault_state }}',''],\n['diag_fault_count','sensor','{{ value_json.diag.fault_count }}',''],\n['pv1_input_voltage','sensor','{{ value_json.pv1_input_voltage }}','V'],\n['pv1_input_current','sensor','{{ value_json.pv1_input_current }}','A'],\n['pv1_input_power','sensor','{{ value_json.pv1_input_power }}','W'],\n['pv2_input_voltage','sensor','{{ value_json.pv2_input_voltage }}','V'],\n['pv2_input_current','sensor','{{ value_json.pv2_input_current }}','A'],\n['pv2_input_power','sensor','{{ value_json.pv2_input_power }}','W'],\n['pv_total_power','sensor','{{ value_json.pv_total_power }}','W'],\n['grid_frequency','sensor','{{ value_json.grid_frequency }}','Hz'],\n['grid_power','sensor','{{ value_json.grid_power }}','W'],\n['production_instantanee','sensor','{{ value_json.production_instantanee }}','W'],\n['ac_output_voltage','sensor','{{ value_json.ac_output_voltage }}','V'],\n['ac_output_current','sensor','{{ value_json.ac_output_current }}','A'],\n['load_power','sensor','{{ value_json.load_power }}','W'],\n['battery_voltage','sensor','{{ value_json.battery_voltage }}','V'],\n['battery_current','sensor','{{ value_json.battery_current }}','A'],\n['battery_power','sensor','{{ value_json.battery_power }}','W'],\n['battery_temperature','sensor','{{ value_json.battery_temperature }}','°C'],\n['battery_soc','sensor','{{ value_json.battery_soc }}','%'],\n['battery_soh','sensor','{{ value_json.battery_soh }}','%'],\n['battery_cycles','sensor','{{ value_json.battery_cycles }}',''],\n['pv_energy_day_kwh','sensor','{{ value_json.pv_energy_day_kwh }}','kWh'],\n['pv_energy_total_kwh','sensor','{{ value_json.pv_energy_total_kwh }}','kWh'],\n['load_energy_day_kwh','sensor','{{ value_json.load_energy_day_kwh }}','kWh'],\n['load_energy_total_kwh','sensor','{{ value_json.load_energy_total_kwh }}','kWh'],\n['grid_import_day_kwh','sensor','{{ value_json.grid_import_day_kwh }}','kWh'],\n['grid_import_total_kwh','sensor','{{ value_json.grid_import_total_kwh }}','kWh'],\n['grid_export_day_kwh','sensor','{{ value_json.grid_export_day_kwh }}','kWh'],\n['grid_export_total_kwh','sensor','{{ value_json.grid_export_total_kwh }}','kWh'],\n['battery_charge_day_kwh','sensor','{{ value_json.battery_charge_day_kwh }}','kWh'],\n['battery_discharge_day_kwh','sensor','{{ value_json.battery_discharge_day_kwh }}','kWh']\n];\nconst payloads=[];\nfor(let inv=1; inv<=3; inv++){\n  const dev={identifiers:[`sofar_inv_${inv}`],name:`Smart Sofar Inverter ${inv}`,manufacturer:'Sofar Solar',model:'HYD6000EP'};\n  const stateTopic=`${basePrefix}/${inv}/state`;\n  const availTopic=`${basePrefix}/${inv}/availability`;\n  for(const e of entities){\n    payloads.push({\n      topic:`${prefix}/${e[1]}/sofar_inv${inv}/${e[0]}/config`,\n      payload:JSON.stringify({\n        name:`Sofar inv${inv} ${e[0]}`,\n        unique_id:`sofar_inv${inv}_${e[0]}`,\n        state_topic:stateTopic,\n        availability_topic:availTopic,\n        value_template:e[2],\n        unit_of_measurement:e[3] || undefined,\n        device:dev\n      })\n    });\n  }\n}\nmsg.payload=payloads;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":80,"wires":[["split_discovery"]]},{"id":"split_discovery","type":"split","z":"tab_sofar_discovery","name":"split discovery","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":620,"y":80,"wires":[["mqtt_out_discovery"]]},{"id":"mqtt_out_discovery","type":"mqtt out","z":"tab_sofar_discovery","name":"MQTT discovery","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_sofar","x":840,"y":80,"wires":[]},{"id":"5630856165b18742","type":"global-config","env":[],"modules":{"node-red-contrib-modbus":"5.45.2"}}]